body{
    margin:0px;

}

h1{
   
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}



.top-container{
    background-color: aqua;
}

.middle-container{

   background-color: rgb(195, 241, 111);
   height: 200px;
   width: 200px;
}

.bottom-container{
 background-color: red;
 height: 200px;
 width: 200px;

}
img{
    position:relative;
    left:300px;
} 
  
